.rightbarhome{
margin-top: 80px;
padding: 20px;

    .birthdayContainer{
        display: flex;
        align-items: center;

        .birthdayImg{
            width: 310px;
            height: 150px;
            margin-right: 10px;
            border-radius: 20px;
        }

        .birthdayText{
            font-weight: 300;
            font-size: 15px;
            cursor: pointer;
        }
    }

    .rightbarAdvert{
        width: 100%;
        margin: 30px 0;
        border-radius: 10px;
        cursor: pointer;
    }

    .rightbarTitle{
        display: flex;
        margin-bottom: 20px;
    }
    .rightbarFriendList{
color: white;
    }
}