.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 80px;
    // overflow-y: scroll;
    z-index: 999;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.495);

    .sidebarWrapper{
        padding: 20px;

      

      .sidebarHr{
        margin: 10px 0;
      }

      .sidebarFriendList{
        padding: 0;
        margin: 0;
        list-style: none;

        
      }
    }
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: linear-gradient(135deg,#4c2375b5, #98442a9e, #0822479a);
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}

//Responsiveness

@media only screen and (max-width:992px){
  .sidebar{
    flex: 1;
    .sidebarWrapper{
      padding: 17px;

      .sidebarButton{
        display: none;
      }

      .sidebarHr{
        display: none;
      }
    }
  }

  ::-webkit-scrollbar{
    display: none;
  }

  ::-webkit-scrollbar-track{
      display: none;
  }

  ::-webkit-scrollbar-thumb{
      display: none;
  }
}

@media only screen and (max-width:768px){
  .sidebar{
    display: block;

    .sidebarWrapper{
      padding: 3px;
    }
  }
}
@media only screen and (max-width:576px){
  .sidebar{
    display: none;
  }
}
