.rightbar{
    flex: 3.5;
    margin-top: 80px;

    .rightbarWrapper{
        padding: 20px ;
        display: flex;
        flex-direction: column;
        
    }
}

//Responsiveness
@media only screen and (max-width: 768px){
    .rightbar{
        display: none;
    }
}