.app.dark{
    background-color: #111111;
    color: rgb(156,156,156);

    .navbarContainer{
        background-color: linear-gradient(135deg, #2f1347, #98442a9e, #082247);
        color: rgb(255, 255, 255);
        border-bottom: 0.5px solid rgb(156,156,156);
       

        
       
        .searchInput{
            color: #000000;
        }
    }
    
    .sidebar{
        background-color: #111111;
        color: rgb(156,156,156);

        
    }

    

    .sidebarFriendName{
        color: rgb(255, 254, 254);
    }

    .feed{
        background-color: #111111;
        color: rgb(255, 252, 252);

        .shareInput{
            color: rgb(255, 254, 254);
        }
    }

    .rightbar{
        background-color: #2e2d2d;

        .rightbarUsername{
            color: rgb(255, 252, 252);
        }
    }

    .editButton{
        background-color: rgb(255, 255, 255);
        color: #000000;
    }

    .editProfile{
        .bottom{
            .right{
                form{
                    input{
                        color: rgb(255, 254, 254);
                    }
                    .updateButton{
                        background-color: rgb(156,156,156);
                        color: #000000;
                    }
                }
            }
        }
    }
}